@font-face { font-family: SilverFake; src: url('../Fonts/silverfake.otf');  }
@font-face { font-family: JimmyScript; src: url('../Fonts/JimmyScript-Rg.otf');  }
@font-face { font-family: PlayfairDisplay; src: url('../Fonts/PlayfairDisplay-Regular.ttf');  }

header 
{
  padding-top: 20px;
  background-color: rgba(240,235,210, 0.9);
  font-family: SilverFake, Garamond, serif;
  position: relative;
  z-index: 1;
}

header > h1 { 
  font-family: 'GreatVibes', 'Century Gothic', 'Georgia', serif;
  font-size: 6rem;
  
}

header > p { font-size: 1.5rem; font-family: PlayfairDisplay, 'Garamond', 'serif'; padding-bottom:20px }

header > nav { font-size: 1rem; font-family: SilverFake, 'GreatVibes', 'Century Gothic', 'Georgia', serif;}

.mobile-menu {display: none;}



/* Base Nav Styles */
nav.horizontal {
  position: relative;
}

nav.horizontal ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(107, 50, 12);
  height: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav.horizontal ul li {
  margin: 0 10px;
}

nav.horizontal ul li a {
  color: rgb(228, 230, 221);
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 15px;
  display: block;
}

nav.horizontal ul li a:hover, nav.horizontal ul li a:active {
  color: black;
  text-shadow: 0 0 2px white, 0 0 8px white;
}


/* MOBILE */
@media screen and (max-width: 768px) {
  header {position:static;}
  header > h1 {font-size: 4rem;}


    .header-wrapper {
    position: static; /* <- let it scroll with page */
    height: auto;     /* no need to cover full viewport */
    display: block;
    background-color: rgba(240,235,210, 0.95);
    padding: 0px;
    z-index: 1;
  }

  .mobile-menu {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 5px 13px 5px 13px;
    font-size: 2rem;
    background: none;
    border: none;
    color: #6B320C;
    background-color: rgba(240,235,210, 0.95);
    z-index: 1001;
  }

  nav.horizontal {
    display: none;
    flex-direction: column;
    background-color: rgba(240,235,210, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  nav.horizontal.show {
    display: flex;
  }

  nav.horizontal ul {
    flex-direction: column;
    gap: 20px;
    background: none;
  }

  nav.horizontal ul li a {
    font-size: 1.5rem;
    color: #6B320C;
  }
}