@font-face { font-family: Bodoni; src: url('../Fonts/BodoniFLF-Roman.ttf'); } 
@font-face { font-family: Bodoni-Bold; src: url('../Fonts/BodoniFLF-Bold.ttf'); }
@font-face { font-family: Bodoni-Italic; src: url('../Fonts/BodoniFLF-Italic.ttf'); } 
@font-face { font-family: Bodoni-BoldItalic; src: url('../Fonts/BodoniFLF-BoldItalic.ttf'); } 
@font-face { font-family: GreatVibes; src: url('../Fonts/GreatVibes-Regular.ttf');  }
@font-face { font-family: SilverFake; src: url('../Fonts/silverfake.otf');  }

@font-face { font-family: JimmyScript; src: url('../Fonts/JimmyScript-Rg.otf');  }

@font-face { font-family: PlayfairDisplay; src: url('../Fonts/PlayfairDisplay-Regular.ttf');  }



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*
      Century Gothic
      Lucida Handwriting
      Bodoni
  */
}


body {
  background: url('../Images/Horizontal/IMG_6640.JPG');
  
  /* background: url('../Images/Vertical/IMG_6171.JPG'); */
  /* background: url('../Images/Vertical/Vertical-Backdrop-Katie-Dalton.jpg'); */
  
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  /* font-family: 'GreatVibes', 'Century Gothic', 'Georgia', serif; */
  --focal-point-x: 50%;
  --focal-point-y: 50%;
  background-position: var(--focal-point-x) var(--focal-point-y);
}


main {
  max-width: 670px;  /* Restrict content width */
  margin: 0 auto;    /* Center content horizontally */
  background-color: rgba(240,235,210, 0.9);  /* White background with slight transparency */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);  /* Optional shadow for depth */
}

section {
  padding-bottom:40px;
}


h2 {
  font-size: 5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.5rem;
  margin: 10px 0 20px;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  background-color: rgb(107, 50, 12); 
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  margin: 10px;
}


#our-story {
  max-width: 100vw;
  font-family: 'GreatVibes', 'Century Gothic', 'Georgia', serif;
}


#wedding-detail > h2 , #wedding-detail > h3  { font-family: 'GreatVibes', 'Century Gothic', 'Georgia', serif; }


#wedding-detail > p {
  font-family: PlayfairDisplay, 'Garamond', 'serif';
  font-size: 1.4rem;
  margin: 10px 0 20px;
  line-height: 1.5;
}

#Registry {font-family: PlayfairDisplay, 'Garamond', 'serif';  font-size: 10px;}

#Registry > h2 { font-family: 'GreatVibes', 'Century Gothic', 'Georgia', serif;  }

#Registry > p { font-size: 1.4rem;}





#wedding-detail > a {
  font-family: PlayFairDisplay, 'Garamond', 'serif';
}

#wedding-detail > p {
  font-family:  PlayFairDisplay, Garamond, serif;
}


@media (max-width: 768px) {
  h1 {font-size: 4rem;  }
  h2 {font-size: 3.5rem;}
  h3 {font-size: 3rem; }
  p {
      font-size: 2rem;
  }
  nav {
      font-size: 80%;
  }
  main { max-width: 80vw;  /* Restrict content width */ }

  #our-story {
    width: 70vw;
  }
}

@media (min-width: 769px) {
  h1 {font-size: 4rem;  }
  h2 {font-size: 3.5rem;}
  h3 {font-size: 3rem; }
  p {font-size: 2rem;}
}


