@font-face { font-family: Bodoni; src: url('../Fonts/BodoniFLF-Roman.ttf'); } 
@font-face { font-family: Bodoni-Bold; src: url('../Fonts/BodoniFLF-Bold.ttf'); }
@font-face { font-family: Bodoni-Italic; src: url('../Fonts/BodoniFLF-Italic.ttf'); } 
@font-face { font-family: Bodoni-BoldItalic; src: url('../Fonts/BodoniFLF-BoldItalic.ttf'); } 
@font-face { font-family: GreatVibes; src: url('../Fonts/GreatVibes-Regular.ttf');  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*
      Century Gothic
      Lucida Handwriting
      Bodoni
  */
}


body {
  /* background: url('../Images/Vertical/IMG_6640.JPG'); */
  
  background: url('../Images/Vertical/IMG_6171.JPG');
  /* background: url('..Images/Vertical/Vertical-Backdrop-Katie-Dalton.jpg'); */
  
  background-size: cover;
  text-align: center;
  font-family: 'GreatVibes', 'Century Gothic', 'Georgia', serif;
}


main {
  max-width: 768px;  /* Restrict content width */
  margin: 0 auto;    /* Center content horizontally */
  background-color: rgba(240,235,210, 0.9);  /* White background with slight transparency */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);  /* Optional shadow for depth */
}

section {
  padding-bottom:40px;
}



h1 
{
  font-size: 7rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 5rem;
  margin-bottom: 20px;
}

p {
  font-size: 2rem;
  margin: 10px 0 20px;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  /* background-color: #CDAA7D;  */
  background-color: #000000; 
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  margin: 10px;
}


@media (max-width: 768px) {
  h1, h2 {
      font-size: 4rem; /* 2rem */
  }
  p {
      font-size: 2rem;
  }
  nav {
      font-size: 80%;
  }
}

@media (min-width: 769px) {
  
}


