/* Timer Code */

  #countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bodoni', 'Century Gothic', 'Georgia', serif; 
  color: #ffffff;
  text-shadow: 0px 0px 2px rgb(0, 0, 0), 0px 0px 2px rgb(0, 0, 0);
  }
.time-block {
  text-align: center;
}

.time-block span {
  display: block;
  font-weight: bold;
}

#days {
  padding-right: 20px;
}


/* .centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -350%);
  font-size: 10px;
  z-index: 2;
  } */

  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3wv;
  z-index: 2;
  }

/* PHONE */
section img {
  width: auto;
  justify-content: center;
}


@media (max-width: 768px) {
  #countdown { font-size: 3vw; padding: 5px; }
  .time-block { padding: 0px 10px 0px 10px;    /*  For divs around the individual numbers + text */ }
  .time-block span { font-size: 3em;}
 
  .centered { font-size: 10px;}
  #timer-image {width: 90vw; border-radius:50px; }
}

/* DESKTOP */
@media (min-width: 769px) {
  #countdown { font-size: 2em; padding: 5px; }

  .time-block { padding: 0px 10px 0px 10px; }
  .time-block span { font-size: 4em;}
  
  .centered { font-size: 10px; }
    
  #timer-image {width: 90vw; border-radius:50px; }
}
